<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026368824052-0joeg84daptkf067dfj8qimvqqkcahn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026368824052-0joeg84daptkf067dfj8qimvqqkcahn9</string>
	<key>API_KEY</key>
	<string>AIzaSyADvi_CtRYrlk0Rh8PDO03MYUrdZvV9egM</string>
	<key>GCM_SENDER_ID</key>
	<string>1026368824052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bkChatapp</string>
	<key>PROJECT_ID</key>
	<string>bk-chatapp-5e9d7</string>
	<key>STORAGE_BUCKET</key>
	<string>bk-chatapp-5e9d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026368824052:ios:cdef759b83d445de4df4a1</string>
</dict>
</plist>